{% extends'base.html.twig' %}

{% block title %}AG{% endblock %}

{% block body %}
    <div class="container">
        <center>


            <h4>Ajouter une Assemblé Générale</h4><br/>

            {% if habs|length == 0   %}
                <div class="alert alert-warning">
                    Il n'y a aucun habitants sur cet immeuble.
                </div>
            {% endif %}

            {{ form_start(form, {'method' : 'POST'}) }}

            <div class="form-row">
                <div class="col-md-6 mb-3">
                    {{ form_label(form.ref) }}
                    {{ form_widget(form.ref, {'attr' :  {'class' : 'form-control'}}) }}
                </div>

                <div class="col-md-6 mb-3">
                    {{ form_label(form.nbDecision) }}
                    {{ form_widget(form.nbDecision, {'attr' :  {'class' : 'form-control'}}) }}
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label>Date de l'AG</label>
                    <input type="date" name="dateAG" class="form-control" required />
                </div>

                <div class="col-md-6 mb-3">
                    {{ form_label(form.pdf) }}
                    {{ form_widget(form.pdf, {'attr' :  {'class' : 'form-control'}}) }}
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label><strong>Liste de présence : </strong></label><br/>
                {% for unH in habs %}
                    <input type="checkbox" name="{{ unH.id ~ unH.nom }}" />&nbsp;{{ unH.nom }} {{ unH.prenom  }}<br/>
                {% endfor %}
            </div><br/>

            {{ form_widget(form.valid, {'attr' : {'class' : 'btn btn-outline-ngi'}}) }}

            {{ form_end(form) }}

        </center>
    </div>
{% endblock %}