{% extends'base.html.twig' %}

{% block title %}{{ copro.code }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <center>
            <div class="row">
                <div class="col-sm"><h2>{{ copro.code }} : {{ copro.adresse }}</h2></div><br/>
            </div>
            <div class="row">
                <div class="col-6 col-sm-4">
                    <h4>Habitants</h4>
                    {% if habs|length > 0 %}
                        <div class="table-wrapper-scroll-y">
                            <table class="table-copro table-hover table-dark">
                                <thead>
                                <tr>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Prénom</th>
                                    <th scope="col">Date d'emménagment</th>
                                    <th scope="col">Téléphone</th>
                                    <th scope="col">Adresse mail</th>
                                    <th scope="col">Lot</th>
                                    <th scope="col">PDF</th>
                                </tr>
                                </thead>
                                <tbody>

                                    {% for unH in habs %}
                                    {% if unH.presidentCS == 1 %}
                                        <tr class="bg-warning" >
                                    {% elseif unH.membreCS == 1 %}
                                        <tr class="bg-primary" >
                                    {% else %}
                                        <tr>
                                    {% endif %}
                                            {% if unH.sexe == 0 %}
                                                <td>Mme. {{ unH.nom }}</td>
                                            {% else %}
                                                <td>M. {{ unH.nom }}</td>
                                            {% endif %}
                                            <td>{{ unH.prenom }}</td>
                                            <td>{{ unH.dateEmmenagement }}</td>
                                            <td>{{ unH.tel }}</td>
                                            <td>{{ unH.email }}</td>
                                            <td>{{ unH.lot.num }}</td>
                                            <td><a href="/ng/gestion/immeuble/pdf/habitant/{{ unH.id }}" target="_blank" class="btn btn-outline-danger btn-vsm">
                                                    <img src="{{ asset('/image/pdf-logo.png') }}" alt="logo-pdf" width="15" />
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}


                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div class="alert alert-warning">
                            Il n'y a aucun habitants.
                        </div>
                    {% endif %}
                    <br/>
                    {% if is_granted(['ROLE_ADMIN', 'ROLE_GESTIONNAIRE']) %}
                        <a href="/ng/gestion/immeuble/ajout/habitant/{{ copro.code }}" class="btn btn-outline-ngi">
                            Ajouter
                        </a><br/>
                    {% endif %}
                </div>
                <div class="col-6 col-sm-4">
                    <h4>Propriétaires</h4>
                    {% if props|length > 0 %}
                        <div class="table-wrapper-scroll-y">
                            <table class="table-copro table-hover table-dark">
                                <thead>
                                    <tr>
                                        <th scope="col">Nom</th>
                                        <th scope="col">Prénom</th>
                                        <th scope="col">Téléphone</th>
                                        <th scope="col">Adresse mail</th>
                                        <th scope="col">Adresse</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for unP in props %}
                                        <tr>
                                            {% if unP.proprietaire.sexe == 0 %}
                                                <td>Mme. {{ unP.proprietaire.nom }}</td>
                                            {% else %}
                                                <td>M. {{ unP.proprietaire.nom }}</td>
                                            {% endif %}
                                            <td>{{ unP.proprietaire.prenom }}</td>
                                            <td>{{ unP.proprietaire.tel }}</td>
                                            <td>{{ unP.proprietaire.email }}</td>
                                            <td>{{ unP.proprietaire.adresse }}, {{ unP.proprietaire.ville.cp }} {{ unP.proprietaire.ville.nom }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    {% else %}
                        <div class="alert alert-warning">
                            Il n'y a aucun propriétaires.
                        </div>
                    {% endif %}
                    <br/>
                    {% if is_granted(['ROLE_ADMIN', 'ROLE_GESTIONNAIRE']) %}
                        <a href="/ng/gestion/immeuble/ajout/lot/proprietaire/{{ copro.code }}" class="btn btn-outline-ngi">
                            Ajouter
                        </a><br/>
                    {% endif %}
                </div>
                <div class="col-6 col-sm-4">
                    <h4>Lots</h4>
                    {% if lots|length > 0 %}
                        <div class="table-wrapper-scroll-y">
                            <table class="table-copro table-hover table-dark">
                                <thead>
                                    <tr>
                                        <th scope="col">Numéro</th>
                                        <th scope="col">{{ "é"|upper }}tage</th>
                                        <th scope="col">Surface</th>
                                        <th scope="col">Carezze</th>
                                        <th scope="col">Prix</th>
                                        <th scope="col">Propriétaire</th>
                                        <th scope="col">Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for unL in lots %}
                                        <tr>
                                            <td>{{ unL.num }}</td>
                                            <td>{{ unL.etage }}</td>
                                            <td>{{ unL.surface }} m²</td>
                                            <td>{{ unL.carezze }} m²</td>
                                            <td>{{ unL.prix }} €</td>
                                            {% if unL.proprietaire.sexe == 0 %}
                                                <td>Mme. {{ unL.proprietaire.nom }}</td>
                                            {% else %}
                                                <td>M. {{ unL.proprietaire.nom }}</td>
                                            {% endif %}
                                            <td>{{ unL.typeLot.nom }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div class="alert alert-warning">
                            Il n'y a aucun lots.
                        </div>
                    {% endif %}
                    <br/>
                    {% if is_granted(['ROLE_ADMIN', 'ROLE_GESTIONNAIRE']) %}
                        <a href="/ng/gestion/immeuble/ajout/lot/{{ copro.code }}" class="btn btn-outline-ngi">
                            Ajouter
                        </a><br/>
                    {% endif %}
                </div>
            </div><br/>
            <div class="row">
                <div class="col-6 col-sm-4">
                    <h4>Sinistres</h4>
                    {% if sin|length > 0 %}
                        <div class="table-wrapper-scroll-y">
                            <table class="table-copro table-hover table-dark">
                                <thead>
                                <tr>
                                    <th scope="col">Code</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Lot</th>
                                    <th scope="col">Consulter</th>
                                    <th scope="col">PDF</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for unS in sin %}
                                    <tr>
                                        <td>{{ unS.code }}</td>
                                        <td>{{ unS.type }}</td>
                                        <td>{{ unS.date }}</td>
                                        <td>{{ unS.lot.num }}</td>
                                        <td>
                                            <a href="/ng/gestion/sinistre/{{ unS.code }}" class="btn btn-outline-success btn-vsm">{{ 'consulter'|upper }}</a>
                                        </td>
                                        <td>
                                            <a href="/ng/gestion/immeuble/pdf/sinsitre/{{ unS.id }}" target="_blank" class="btn btn-outline-danger btn-vsm">
                                                <img src="{{ asset('/image/pdf-logo.png') }}" alt="logo-pdf" width="15" />
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    {% else %}
                        <div class="alert alert-warning">
                            Il n'y a aucun Sinistre.
                        </div>
                    {% endif %}
                    <br/>
                    {% if is_granted(['ROLE_ADMIN', 'ROLE_GESTIONNAIRE']) %}
                        <a href="/ng/gestion/immeuble/ajout/sinistre/{{ copro.code }}" class="btn btn-outline-ngi">
                            Ajouter
                        </a><br/>
                    {% endif %}
                </div>
                <div id="map" class="col-6 col-sm-4" style="height:230px;"></div>
                <div class="col-6 col-sm-2">
                    <h4>AG</h4>
                    {% if ags|length > 0 %}
                        <div class="table-wrapper-scroll-y">
                            <table class="table-copro table-hover table-dark">
                                <thead>
                                <tr>
                                    <th scope="col">Référence</th>
                                    <th scope="col">Décisions</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Consulter</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for unA in ags %}
                                    <tr>
                                        <td>{{ unA.ref }}</td>
                                        <td>{{ unA.nbDecision }}</td>
                                        <td>{{ unA.date }}</td>
                                        <td>
                                            <a href="#" class="btn btn-outline-success btn-vsm">{{ 'consulter'|upper }}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    {% else %}
                        <div class="alert alert-warning">
                            Il n'y a aucune AG.
                        </div>
                    {% endif %}
                    <br/>
                    {% if is_granted(['ROLE_ADMIN', 'ROLE_GESTIONNAIRE']) %}
                        <a href="/ng/gestion/immeuble/ajout/ag/{{ copro.code }}" class="btn btn-outline-ngi">
                            Ajouter
                        </a><br/>
                    {% endif %}
                </div>
                <div class="col-6 col-sm-2">
                    <h4>CS</h4>
                    {% if cs|length > 0 %}
                        <div class="table-wrapper-scroll-y">
                            <table class="table-copro table-hover table-dark">
                                <thead>
                                <tr>
                                    <th scope="col">Référence</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Consulter</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for unC in cs %}
                                    <tr>
                                        <td>{{ unC.ref }}</td>
                                        <td>{{ unC.date }}</td>
                                        <td>
                                            <a href="#" class="btn btn-outline-success btn-vsm">{{ 'consulter'|upper }}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    {% else %}
                        <div class="alert alert-warning">
                            Il n'y a aucun CS.
                        </div>
                    {% endif %}
                    <br/>
                    {% if is_granted(['ROLE_ADMIN', 'ROLE_GESTIONNAIRE']) %}
                        <a href="/ng/gestion/immeuble/ajout/cs/{{ copro.code }}" class="btn btn-outline-ngi">
                            Ajouter
                        </a><br/>
                    {% endif %}
                </div>
            </div><br/>
            <center>
                    <img src="{{ asset('image/copro_ext/') ~ copro.image }}" />
            </center><br/>



        </center></div>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            crossorigin=""></script>
    <script>
    function myMap() {
        $(document).ready(function(){
            var map = L.map('map').setView([{{ copro.lattitude }}, {{ copro.longitude }}], 19);
            var Esri_WorldImagery = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: 'N.G. Immobilier'
            }).addTo(map);
            var marqueur = L.marker([{{ copro.lattitude }}, {{ copro.longitude }}]).addTo(map);

        });
    }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtj9bdFee1h3-H2oF_TO5Mvj3PvRFCsCE&callback=myMap"></script>
{% endblock %}