{% extends'base.html.twig' %}

{% block title %}{{ copro.code }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <center>
            <div class="row">
                <div class="col-sm"><h2>{{ copro.code }} : {{ copro.adresse }}</h2></div><br/>
            </div>
            <div class="row">
                <div class="col-6 col-sm-4">
                    <h4>Habitants</h4>
                    {% if habs|length > 0 %}
                        <div class="table-wrapper-scroll-y">
                            <table class="table-copro table-hover table-dark">
                                <thead>
                                <tr>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Prénom</th>
                                    <th scope="col">Date d'emménagment</th>
                                    <th scope="col">Téléphone</th>
                                    <th scope="col">Adresse mail</th>
                                    <th scope="col">Lot</th>
                                </tr>
                                </thead>
                                <tbody>

                                    {% for unH in habs %}
                                    {% if unH.presidentCS == 1 %}
                                        <tr class="bg-warning" >
                                    {% elseif unH.membreCS == 1 %}
                                        <tr class="bg-primary" >
                                    {% else %}
                                        <tr>
                                    {% endif %}
                                            {% if unH.sexe == 0 %}
                                                <td>Mme. {{ unH.nom }}</td>
                                            {% else %}
                                                <td>M. {{ unH.nom }}</td>
                                            {% endif %}
                                            <td>{{ unH.prenom }}</td>
                                            <td>{{ unH.dateEmmenagement }}</td>
                                            <td>{{ unH.tel }}</td>
                                            <td>{{ unH.email }}</td>
                                            <td>{{ unH.lot.num }}</td>
                                        </tr>
                                    {% endfor %}


                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div class="alert alert-warning">
                            Il n'y a aucun habitants.
                        </div>
                    {% endif %}
                    <br/>
                    {% if is_granted(['ROLE_ADMIN', 'ROLE_GESTIONNAIRE']) %}
                        <a href="/ng/gestion/immeuble/ajout/habitant/{{ copro.code }}" class="btn btn-outline-ngi">
                            Ajouter
                        </a><br/>
                    {% endif %}
                </div>
                <div class="col-6 col-sm-4">
                    <h4>Propriétaires</h4>
                    {% if props|length > 0 %}
                        <div class="table-wrapper-scroll-y">
                            <table class="table-copro table-hover table-dark">
                                <thead>
                                    <tr>
                                        <th scope="col">Nom</th>
                                        <th scope="col">Prénom</th>
                                        <th scope="col">Téléphone</th>
                                        <th scope="col">Adresse mail</th>
                                        <th scope="col">Adresse</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for unP in props %}
                                        <tr>
                                            {% if unP.proprietaire.sexe == 0 %}
                                                <td>Mme. {{ unP.proprietaire.nom }}</td>
                                            {% else %}
                                                <td>M. {{ unP.proprietaire.nom }}</td>
                                            {% endif %}
                                            <td>{{ unP.proprietaire.prenom }}</td>
                                            <td>{{ unP.proprietaire.tel }}</td>
                                            <td>{{ unP.proprietaire.email }}</td>
                                            <td>{{ unP.proprietaire.adresse }}, {{ unP.proprietaire.ville.cp }} {{ unP.proprietaire.ville.nom }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    {% else %}
                        <div class="alert alert-warning">
                            Il n'y a aucun propriétaires.
                        </div>
                    {% endif %}
                    <br/>
                    {% if is_granted(['ROLE_ADMIN', 'ROLE_GESTIONNAIRE']) %}
                        <a href="/ng/gestion/immeuble/ajout/lot/proprietaire/{{ copro.code }}" class="btn btn-outline-ngi">
                            Ajouter
                        </a><br/>
                    {% endif %}
                </div>
                <div class="col-6 col-sm-4">
                    <h4>Lots</h4>
                    {% if lots|length > 0 %}
                        <div class="table-wrapper-scroll-y">
                            <table class="table-copro table-hover table-dark">
                                <thead>
                                    <tr>
                                        <th scope="col">Numéro</th>
                                        <th scope="col">{{ "é"|upper }}tage</th>
                                        <th scope="col">Surface</th>
                                        <th scope="col">Carezze</th>
                                        <th scope="col">Prix</th>
                                        <th scope="col">Propriétaire</th>
                                        <th scope="col">Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for unL in lots %}
                                        <tr>
                                            <td>{{ unL.num }}</td>
                                            <td>{{ unL.etage }}</td>
                                            <td>{{ unL.surface }} m²</td>
                                            <td>{{ unL.carezze }} m²</td>
                                            <td>{{ unL.prix }} €</td>
                                            {% if unL.proprietaire.sexe == 0 %}
                                                <td>Mme. {{ unL.proprietaire.nom }}</td>
                                            {% else %}
                                                <td>M. {{ unL.proprietaire.nom }}</td>
                                            {% endif %}
                                            <td>{{ unL.typeLot.nom }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div class="alert alert-warning">
                            Il n'y a aucun lots.
                        </div>
                    {% endif %}
                    <br/>
                    {% if is_granted(['ROLE_ADMIN', 'ROLE_GESTIONNAIRE']) %}
                        <a href="/ng/gestion/immeuble/ajout/lot/{{ copro.code }}" class="btn btn-outline-ngi">
                            Ajouter
                        </a><br/>
                    {% endif %}
                </div>
            </div><br/>
            <div class="row">
                <div class="col-6 col-sm-4">
                    <h4>Sinistres</h4>
                    <div class="table-wrapper-scroll-y">
                        <table class="table table-hover table-dark">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                            </tbody>
                        </table>

                    </div></div>
                <div id="googleMap" class="col-6 col-sm-4" style="height:230px;"></div>
                <div class="col-6 col-sm-2">
                    <h4>AG</h4>
                    {% if ags|length > 0 %}
                        <div class="table-wrapper-scroll-y">
                            <table class="table-copro table-hover table-dark">
                                <thead>
                                <tr>
                                    <th scope="col">Référence</th>
                                    <th scope="col">Décisions</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Consulter</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for unA in ags %}
                                    <tr>
                                        <td>{{ unA.ref }}</td>
                                        <td>{{ unA.nbDecision }}</td>
                                        <td>{{ unA.date }}</td>
                                        <td>
                                            <a href="#" class="btn btn-outline-success btn-vsm">{{ 'consulter'|upper }}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    {% else %}
                        <div class="alert alert-warning">
                            Il n'y a aucune AG.
                        </div>
                    {% endif %}
                    <br/>
                    {% if is_granted(['ROLE_ADMIN', 'ROLE_GESTIONNAIRE']) %}
                        <a href="/ng/gestion/immeuble/ajout/ag/{{ copro.code }}" class="btn btn-outline-ngi">
                            Ajouter
                        </a><br/>
                    {% endif %}
                </div>
                <div class="col-6 col-sm-2">
                    <h4>CS</h4>
                    {% if cs|length > 0 %}
                        <div class="table-wrapper-scroll-y">
                            <table class="table-copro table-hover table-dark">
                                <thead>
                                <tr>
                                    <th scope="col">Référence</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Consulter</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for unC in cs %}
                                    <tr>
                                        <td>{{ unC.ref }}</td>
                                        <td>{{ unC.date }}</td>
                                        <td>
                                            <a href="#" class="btn btn-outline-success btn-vsm">{{ 'consulter'|upper }}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    {% else %}
                        <div class="alert alert-warning">
                            Il n'y a aucun CS.
                        </div>
                    {% endif %}
                    <br/>
                    {% if is_granted(['ROLE_ADMIN', 'ROLE_GESTIONNAIRE']) %}
                        <a href="/ng/gestion/immeuble/ajout/cs/{{ copro.code }}" class="btn btn-outline-ngi">
                            Ajouter
                        </a><br/>
                    {% endif %}
                </div>
            </div><br/>
            <div class="row">
                <div class="col-6 col-sm-2">
                    <img src="{{ asset('image/copro_ext/') ~ copro.image }}" />
                </div><br/>
            </div>



        </center></div>
    <script>
    function myMap() {
        var mapProp= {
            center:new google.maps.LatLng({{ copro.lattitude }},{{ copro.longitude }}),
            zoom:18,
        };
        var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
        var marqueur = new google.maps.Marker({
            position: new google.maps.LatLng({{ copro.lattitude }},{{ copro.longitude }}),
            map: map
        });
    }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtj9bdFee1h3-H2oF_TO5Mvj3PvRFCsCE&callback=myMap"></script>
{% endblock %}