{% extends'base.html.twig' %}

{% block title %}Sinistres{% endblock %}

{% block body %}
<div class="container">

    <h4>Liste des Sinistres référencé</h4><br/>

    {% if sin|length > 0 %}
        <table class="table table-hover table-dark">
            <thead>
            <tr>
                <th scope="col">Code</th>
                <th scope="col">Type</th>
                <th scope="col">Date</th>
                <th scope="col">Code immeuble</th>
                <th scope="col">Lot</th>
                <th scope="col">Consulter</th>
            </tr>
            </thead>
            <tbody>
            {% for unS in sin %}
                <tr>
                    <td>{{ unS.code }}</td>
                    <td>{{ unS.type }}</td>
                    <td>{{ unS.date }}</td>
                    <td>{{ unS.lot.copro.code }}</td>
                    <td>{{ unS.lot.num }}</td>
                    <td><a href="/ng/gestion/sinistre/{{ unS.code }}" class="btn btn-outline-success">{{ 'consulter'|upper }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table><br/>
    {% else %}
        <div class="alert alert-warning">
            Il n'y aucune Copropriétés. Veuillez en ajouter.
        </div>
    {% endif %}

    {% if is_granted(['ROLE_ADMIN', 'ROLE_GESTIONNAIRE']) %}
        <a href="/ng/gestion/immeuble/ajout" class="btn btn-outline-ngi">{{ 'ajouter'|upper }}</a>
    {% endif %}

</div>
{% endblock %}