{% extends'base.html.twig' %}

{% block title %}Propriétaire{% endblock %}

{% block body %}
    <div class="container">
        <center>

            <h4>Ajouter un Propriétaire</h4><br/>

            {{ form_start(form, {'method' : 'POST'}) }}

            <div class="form-row">
                <div class="col-md-4 mb-3">
                    {{ form_label(form.sexe) }}
                    {{ form_widget(form.sexe, {'attr' :  {'class' : 'form-control'}}) }}
                </div>

                <div class="col-md-4 mb-3">
                    {{ form_label(form.nom) }}
                    {{ form_widget(form.nom, {'attr' :  {'class' : 'form-control'}}) }}
                </div>

                <div class="col-md-4 mb-3">
                    {{ form_label(form.prenom) }}
                    {{ form_widget(form.prenom, {'attr' :  {'class' : 'form-control'}}) }}
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-6 mb-3">
                    {{ form_label(form.tel) }}
                    {{ form_widget(form.tel, {'attr' :  {'class' : 'form-control'}}) }}
                </div>

                <div class="col-md-6 mb-3">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email, {'attr' :  {'class' : 'form-control'}}) }}
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-6 mb-3">
                    {{ form_label(form.adresse) }}
                    {{ form_widget(form.adresse, {'attr' :  {'class' : 'form-control'}}) }}
                </div>

                <div class="col-md-6 mb-3">
                    {{ form_label(form.ville) }}
                    {{ form_widget(form.ville, {'attr' :  {'class' : 'form-control'}}) }}
                </div>
            </div>

            {{ form_widget(form.valid, {'attr' : {'class' : 'btn btn-outline-ngi'}}) }}

            {{ form_end(form) }}

        </center>
    </div>
{% endblock %}