{% extends'base.html.twig' %}

{% block title %}Villes{% endblock %}

{% block body %}
    <div class="container">
        <center>

            <h4>Ajouter une Ville</h4><br/>

            {{ form_start(form, {'method' : 'POST'}) }}

            <div class="col-md-4 mb-3">
                {{ form_label(form.departement) }}
                {{ form_widget(form.departement, {'attr' :  {'class' : 'form-control'}}) }}
            </div>

            <div class="col-md-4 mb-3">
                {{ form_label(form.code) }}
                {{ form_widget(form.code, {'attr' :  {'class' : 'form-control'}}) }}
            </div>

            <div class="col-md-4 mb-3">
                {{ form_label(form.nom) }}
                {{ form_widget(form.nom, {'attr' :  {'class' : 'form-control'}}) }}
            </div>

            {{ form_widget(form.valid, {'attr' : {'class' : 'btn btn-outline-ngi'}}) }}

            {{ form_end(form) }}

        </center>
    </div>
{% endblock %}